
@{
    ViewData["Title"] = "About Finnid Pro - India's most trusted business services provider";
    ViewData["Meta-Description"] = "Finnid Pro is India's most trusted business service provider platform that provides online legal business support and software";
    ViewData["Meta-Keywords"] = "about finnidpro, finnid pro, Nidhi company registration, Producer Company Registration, Pvt Ltd Company Registration, FPO";

}

<style>
    #sm-banner {
        background-image: url('../images/sm-banner.jpg');
    }
</style>

<section id="sm-banner">
    <div class="site-container">
        <article>
            <h1>About Us</h1>
            <p>
            </p>
        </article>
    </div>
</section>
<section id="abutus">
    <div class="site-container">
        <div class="abutus">
            <article class="abt-content">
                <h2>About Finnid Pro</h2>
                <p>
                    Finnid Pro is a renowned brand operated by Diptimate Consultant Private Limited. It is a one-stop solution that offers registrations services, software services,
                    compliance services to those who are engaged in the business of finance.
                </p>
            </article>
            <div class="row gy-4">
                <div class="col-md-5">
                    <div class="about-img">
                        <img src="../images/about-us.png" alt="">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="abutus-content">
                        <h2 class="sec-heading">Welcome to Finnid Pro</h2>
                        <p class="text-accent ">
                            Finnid is a name of an ERP that helps in execution of the business that is usually engaged with finance, loans, recurring deposit, saving account, fixed deposit
                            and etc.<br />
                            Apart from offering financial solutions to businesses, it works with its clients to remain conformed to every one of the conceivable lawful compliances.
                            We provide reports for Company Secretaries, Chartered Accountants, Advocates with the help of their access panel. It interfaces you with forthcoming arising
                            technologies that remain yourself to be cutthroat in the market like ATM, Net Banking and Ifs code and etc.
                        </p>
                        <br>
                        <article>
                            <h3>Vision</h3>
                            <p>
                                Finnid is the epitome of small banking ERP. The benefit of it is that it can become the revenue to the financial business rather than a cost to an
                                organization.
                            </p>
                        </article>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="abutus-content">
                        <h2 class="sec-heading">Why us </h2>
                        <p class="text-accent ">
                            Finnid was formed by a group of professionals such as Chartered Accountants, Company Secretaries, Advocates, Software Engineers, Nidhi Businessman,
                            and NBFC businessmen, etc. The software that we offer can really be beneficial to all the stakeholders. We trust in reasonable strategic approaches.
                            We treat our clients with absolute attention by giving them the right and proper data, our prime focus is delivering the best to our clients.
                        </p>
                        @*<br />
                            <p>
                                We believe in fair business practices. We treat our customers with utmost care by providing them the right & appropriate information, our pure focus is customer satisfaction & not customer creation. We believe that new customers are by-product of your service to your current customer. We want our customers see happy & never feel cheated. Being a group of professionals, our prime motto towards customer is delivery of right information for their benefit.
                            </p>*@
                        <br>
                        <h2>About DCPL </h2>
                        <p>
                            Diptimate Consultants Private Limited is a leading IT company that offers consultation services to primary sectors or MSME sectors. We not only provide
                            the consultation but, also deliver the right software that helps in the financial part of the business.
                        </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="about-work--img">
                        <img src="../images/about-work.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /ABOUT -->

<section id="counter">
    <div class="site-container">
        <div class="counter">
            <div class="row">
                <div class="col-md-3">
                    <div id="way1">
                        <h2 id="count1"></h2>
                        <span>Customer</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="way2">
                        <h2 id="count2"></h2>
                        <span>Projects</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="way3">
                        <h2 id="count3"></h2>
                        <span>Meetings</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="way4">
                        <h2 id="count4"></h2>
                        <span>Cup of Tea</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

