
@{
    ViewData["Title"] = "blog";
}
<style>
    #sm-banner {
        background-image: url('../images/sm-banner.jpg');
    }
</style>

<section id="sm-banner">
    <div class="site-container">
        <article>
            <h1>Our Blog</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit, Labore animi
                consequuntur ad soluta itaque.
            </p>
        </article>
    </div>
</section>
<!-- /SM-BANNER -->

<div id="blog">
    <div class="site-container">
        <div class="blog">
            <div class="heading">
                <h1 class="sec-heading">Our Blog</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit, Odit itaque
                    necessitatibus autem ipsum, ipisicing elit, Odit itaque.
                </p>
            </div>
            <div class="blog__content">
                <div class="row gx-4 gy-4">
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="bcard">
                            <div class="bcard-picture">
                                <img src="../images/innid2.jpg" alt="">
                            </div>
                            <div class="bcard__content">
                                <div class="bcard__content--views">
                                    <a href="#">July20, 2020</a>
                                    <span title="Views"><i class="far fa-eye"></i>200</span>
                                </div>
                                <h1 class="bcard-heading"><a href="/Home/singleblog">All about Nidhi company registration</a></h1>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Officiis, molestiae labore.
                                </p>
                                <a href="/Home/singleblog" class="btn--blogs">Readmore</a>
                            </div>
                            <div class="tag tag--orange">
                                <span>New</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="bcard">
                            <div class="bcard-picture">
                                <img src="../images/finnid.jpg" alt="">
                            </div>
                            <div class="bcard__content">
                                <div class="bcard__content--views">
                                    <a href="#">July20, 2020</a>
                                    <span title="Views"><i class="far fa-eye"></i>200</span>
                                </div>
                                <h1 class="bcard-heading"><a href="/Home/singleblog">All about Nidhi company registration</a></h1>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Officiis, molestiae labore.
                                </p>
                                <a href="/Home/singleblog" class="btn--blogs">Readmore</a>
                            </div>
                            <div class="tag tag--blue">
                                <span>New</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="bcard">
                            <div class="bcard-picture">
                                <img src="../images/finnid7.jpg" alt="">
                            </div>
                            <div class="bcard__content">
                                <div class="bcard__content--views">
                                    <a href="#">July20, 2020</a>
                                    <span title="Views"><i class="far fa-eye"></i>200</span>
                                </div>
                                <h1 class="bcard-heading"><a href="/Home/singleblog">All about Nidhi company registration</a></h1>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Officiis, molestiae labore.
                                </p>
                                <a href="/Home/singleblog" class="btn--blogs">Readmore</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="bcard">
                            <div class="bcard-picture">
                                <img src="../images/finnid.jpg" alt="">
                            </div>
                            <div class="bcard__content">
                                <div class="bcard__content--views">
                                    <a href="#">July20, 2020</a>
                                    <span title="Views"><i class="far fa-eye"></i>200</span>
                                </div>
                                <h1 class="bcard-heading"><a href="/Home/singleblog">All about Nidhi company registration</a></h1>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Officiis, molestiae labore.
                                </p>
                                <a href="/Home/singleblog" class="btn--blogs">Readmore</a>
                            </div>
                        </div>
                    </div>
                    <!-- /row1 -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="bcard">
                            <div class="bcard-picture">
                                <img src="../images/innid2.jpg" alt="">
                            </div>
                            <div class="bcard__content">
                                <div class="bcard__content--views">
                                    <a href="#">July20, 2020</a>
                                    <span title="Views"><i class="far fa-eye"></i>200</span>
                                </div>
                                <h1 class="bcard-heading"><a href="/Home/singleblog">All about Nidhi company registration</a></h1>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Officiis, molestiae labore.
                                </p>
                                <a href="/Home/singleblog" class="btn--blogs">Readmore</a>
                            </div>
                            <div class="tag tag--orange">
                                <span>New</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="bcard">
                            <div class="bcard-picture">
                                <img src="../images/finnid.jpg" alt="">
                            </div>
                            <div class="bcard__content">
                                <div class="bcard__content--views">
                                    <a href="#">July20, 2020</a>
                                    <span title="Views"><i class="far fa-eye"></i>200</span>
                                </div>
                                <h1 class="bcard-heading"><a href="/Home/singleblog">All about Nidhi company registration</a></h1>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Officiis, molestiae labore.
                                </p>
                                <a href="/Home/singleblog" class="btn--blogs">Readmore</a>
                            </div>
                            <div class="tag tag--blue">
                                <span>New</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="bcard">
                            <div class="bcard-picture">
                                <img src="../images/finnid7.jpg" alt="">
                            </div>
                            <div class="bcard__content">
                                <div class="bcard__content--views">
                                    <a href="#">July20, 2020</a>
                                    <span title="Views"><i class="far fa-eye"></i>200</span>
                                </div>
                                <h1 class="bcard-heading"><a href="/Home/singleblog">All about Nidhi company registration</a></h1>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Officiis, molestiae labore.
                                </p>
                                <a href="/Home/singleblog" class="btn--blogs">Readmore</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="bcard">
                            <div class="bcard-picture">
                                <img src="../images/finnid.jpg" alt="">
                            </div>
                            <div class="bcard__content">
                                <div class="bcard__content--views">
                                    <a href="#">July20, 2020</a>
                                    <span title="Views"><i class="far fa-eye"></i>200</span>
                                </div>
                                <h1 class="bcard-heading"><a href="/Home/singleblog">All about Nidhi company registration</a></h1>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Officiis, molestiae labore.
                                </p>
                                <a href="/Home/singleblog" class="btn--blogs">Readmore</a>
                            </div>
                        </div>
                    </div>
                    <!-- /row2 -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="bcard">
                            <div class="bcard-picture">
                                <img src="../images/innid2.jpg" alt="">
                            </div>
                            <div class="bcard__content">
                                <div class="bcard__content--views">
                                    <a href="#">July20, 2020</a>
                                    <span title="Views"><i class="far fa-eye"></i>200</span>
                                </div>
                                <h1 class="bcard-heading"><a href="/Home/singleblog">All about Nidhi company registration</a></h1>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Officiis, molestiae labore.
                                </p>
                                <a href="/Home/singleblog" class="btn--blogs">Readmore</a>
                            </div>
                            <div class="tag tag--orange">
                                <span>New</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="bcard">
                            <div class="bcard-picture">
                                <img src="../images/finnid.jpg" alt="">
                            </div>
                            <div class="bcard__content">
                                <div class="bcard__content--views">
                                    <a href="#">July20, 2020</a>
                                    <span title="Views"><i class="far fa-eye"></i>200</span>
                                </div>
                                <h1 class="bcard-heading"><a href="/Home/singleblog">All about Nidhi company registration</a></h1>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Officiis, molestiae labore.
                                </p>
                                <a href="/Home/singleblog" class="btn--blogs">Readmore</a>
                            </div>
                            <div class="tag tag--blue">
                                <span>New</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="bcard">
                            <div class="bcard-picture">
                                <img src="../images/finnid7.jpg" alt="">
                            </div>
                            <div class="bcard__content">
                                <div class="bcard__content--views">
                                    <a href="#">July20, 2020</a>
                                    <span title="Views"><i class="far fa-eye"></i>200</span>
                                </div>
                                <h1 class="bcard-heading"><a href="/Home/singleblog">All about Nidhi company registration</a></h1>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Officiis, molestiae labore.
                                </p>
                                <a href="/Home/singleblog" class="btn--blogs">Readmore</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="bcard">
                            <div class="bcard-picture">
                                <img src="../images/finnid.jpg" alt="">
                            </div>
                            <div class="bcard__content">
                                <div class="bcard__content--views">
                                    <a href="#">July20, 2020</a>
                                    <span title="Views"><i class="far fa-eye"></i>200</span>
                                </div>
                                <h1 class="bcard-heading"><a href="/Home/singleblog">All about Nidhi company registration</a></h1>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Officiis, molestiae labore.
                                </p>
                                <a href="/Home/singleblog" class="btn--blogs">Readmore</a>
                            </div>
                        </div>
                    </div>
                    <!-- /row3 -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /BLOG -->
