
@{
    ViewData["Title"] = "download";
}

<style>
    #sm-banner {
        background-image: url('../images/sm-banner.jpg');
    }
</style>

<section id="sm-banner" >
    <div class="site-container">
        <article>
            <h1>Download</h1>
            <p>
            </p>
        </article>
    </div>
</section>
<!-- /SM-BANNER -->

<div id="download">
    <div class="site-container">
        <div class="download">
            <div class="download-items">
                <div class="row">
                    <div class="col-md-9">
                        <p> Downloaded files name</p>
                    </div>
                    <div class="col-md-3">
                        <a href="#">Download<i class="fa fa-download" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="download-items">
                <div class="row">
                    <div class="col-md-9">
                        <p>Downloaded files name</p>
                    </div>
                    <div class="col-md-3">
                        <a href="#">Download<i class="fa fa-download" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="download-items">
                <div class="row">
                    <div class="col-md-9">
                        <p>Downloaded files name</p>
                    </div>
                    <div class="col-md-3">
                        <a href="#">Download<i class="fa fa-download" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="download-items">
                <div class="row">
                    <div class="col-md-9">
                        <p>Downloaded files name</p>
                    </div>
                    <div class="col-md-3">
                        <a href="#">Download<i class="fa fa-download" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="download-items">
                <div class="row">
                    <div class="col-md-9">
                        <p>Downloaded files name</p>
                    </div>
                    <div class="col-md-3">
                        <a href="#">Download<i class="fa fa-download" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /FEATURE -->
