
@{
    ViewData["Title"] = "Software Features";
}

<style>
    #sm-banner {
        background-image: url('../images/sm-banner.jpg');
    }
</style>
<section id="sm-banner">
    <div class="site-container">
        <article>
            <h1>Software Features</h1>
        </article>
    </div>
</section>
<!-- /SM-BANNER -->

<section id="feature">
    <div class="site-container">
        <div class="feature">
            <div class="heading">
                <h2 class="sec-heading">All Feature of Nidhi Software</h2>
            </div>
            <!-- /Headings -->
            <div class="feature-content">
                <div class="row gy-3">
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/feature3.png" alt="Saving Account">
                            <div class="card-article">
                                <h3 class="ter-heading">Saving Account</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/feature4.png" alt="Saving Plus Account">
                            <div class="card-article">
                                <h3 class="ter-heading">Saving Plus Account</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/feature5.png" alt="Fixed Deposite">
                            <div class="card-article">
                                <h3 class="ter-heading">Fixed Deposite</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/feature7.png" alt="Daily Deposite">
                            <div class="card-article">
                                <h3 class="ter-heading">Daily Deposite</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/feature10.png" alt="Monthaly Deposite">
                            <div class="card-article">
                                <h3 class="ter-heading">Monthaly Deposite</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/feature6.png" alt="Multiple Interval Deposite">
                            <div class="card-article">
                                <h3 class="ter-heading">Multiple Interval Deposite</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/feature1.jpg" alt="Pigmy">
                            <div class="card-article">
                                <h3 class="ter-heading">Pigmy</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/feature8.png" alt="Secured Loans">
                            <div class="card-article">
                                <h3 class="ter-heading">Secured Loans</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/feature9.png" alt="Unsecured Loans">
                            <div class="card-article">
                                <h3 class="ter-heading">Unsecured Loans</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/feature2.png" alt="PI Loans">
                            <div class="card-article">
                                <h3 class="ter-heading">PI Loans</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/feature11.png" alt="PR Loans">
                            <div class="card-article">
                                <h3 class="ter-heading">PR Loans</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/feature12.png" alt="Committee Loans">
                            <div class="card-article">
                                <h3 class="ter-heading">Committee Loans</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/loan.jpg" alt="Group Loans">
                            <div class="card-article">
                                <h3 class="ter-heading">Group Loans</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/module-collection.jpg" alt="Doorstep Collection Module">
                            <div class="card-article">
                                <h3 class="ter-heading">Doorstep Collection Module</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/virtual-account.jpg" alt="Virtual Accounts">
                            <div class="card-article">
                                <h3 class="ter-heading">Virtual Accounts</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/rewards.jpg" alt="Rewards Points">
                            <div class="card-article">
                                <h3 class="ter-heading">Rewards Points</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/bill-payments.jpg" alt="">
                            <div class="card-article">
                                <h3 class="ter-heading">Recharge & Bill Payments</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/mobile-banking.jpg" alt="Mobile Banking, IFS Code">
                            <div class="card-article">
                                <h3 class="ter-heading">Mobile Banking, IFS Code</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/atm-card.jpg" alt="ATM Cards">
                            <div class="card-article">
                                <h3 class="ter-heading">ATM Cards</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/real-bank.jpg" alt="Real Accounts">
                            <div class="card-article">
                                <h3 class="ter-heading">Real Accounts</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/money-transfer.jpg" alt="Money Transfer">
                            <div class="card-article">
                                <h3 class="ter-heading">Money Transfer</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/payment-receipt.jpg" alt="Payment Receipt from any where in INDIA Facility">
                            <div class="card-article">
                                <h3 class="ter-heading">Payment Receipt from any where in INDIA Facility</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/internet-banking.jpg" alt="Internet Banking">
                            <div class="card-article">
                                <h3 class="ter-heading">Internet Banking</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/mca-module.jpg" alt="MCA Module">
                            <div class="card-article">
                                <h3 class="ter-heading">MCA Module</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/advocate-module.jpg" alt="Advocate Module">
                            <div class="card-article">
                                <h3 class="ter-heading">Advocate Module</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/valuation-module.jpg" alt="Valuation Module">
                            <div class="card-article">
                                <h3 class="ter-heading">Valuation Module</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/npa-module.jpg" alt="NPA Module">
                            <div class="card-article">
                                <h3 class="ter-heading">NPA Module</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/gst.jpg" alt="GST Module">
                            <div class="card-article">
                                <h3 class="ter-heading">GST Module</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/asset-mgn.jpg" alt="Asset Management">
                            <div class="card-article">
                                <h3 class="ter-heading">Asset Management</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/deprecation-mgn.jpg" alt="Depreciation Management">
                            <div class="card-article">
                                <h3 class="ter-heading">Depreciation Management</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card ft-card">
                            <img src="../images/hr-mgn.jpg" alt="HR Management">
                            <div class="card-article">
                                <h3 class="ter-heading">HR Management</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Card row-->
        </div>
        <!-- /Feature -->
    </div>
    <!-- /Container -->
</section>
<!-- /FEATURE -->
