
@{
    ViewData["Title"] = "Our Services";
}

<style>
    #sm-banner {
        background-image: url('../images/sm-banner.jpg');
    }

</style>
<section id="sm-banner">
    <div class="site-container">
        <article>
            <h1>Our Services</h1>
        </article>
    </div>
</section>
<!-- /SM-BANNER -->

<section id="feature">
    <div class="site-container">
        <div class="feature">
            <div class="heading">
                <h2 class="sec-heading">We provide best services to our clients</h2>
            </div>
            <div class="feature-content">
                <div class="row gy-3">
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card">
                            <img src="../images/company-reg.png" alt="Nidhi company registration">
                            <div class="card-article">
                                <h3 class="ter-heading">Nidhi company registration</h3>
                            </div>
                            <a href="/Home/nidhi_compny_registration" class="card__links"></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card">
                            <img src="../images/public-reg.png" alt="Public Company Registration">
                            <div class="card-article">
                                <h3 class="ter-heading">Public Company Registration</h3>
                            </div>
                            <a href="/Home/public_compny_registration" class="card__links"></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card">
                            <img src="../images/pvt-reg.png" alt="Private Company Registration">
                            <div class="card-article">
                                <h3 class="ter-heading">Private Company Registration</h3>
                            </div>
                            <a href="/Home/private_compny_registration" class="card__links"></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 sft-card">
                        <div class="card">
                            <img src="../images/producer-reg.png" alt="Producer Company Registration">
                            <div class="card-article">
                                <h3 class="ter-heading">Producer Company Registration</h3>
                            </div>
                            <a href="/Home/producer_compny_registration" class="card__links"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Feature -->
    </div>
    <!-- /Container -->
</section>
<!-- /FEATURE -->
