
@{
    ViewData["Title"] = "Thank you";
}

<style>
    .display-3 {
        font-size: 100px;
        margin-top: 50px;
        text-align: center;
        
    }
    .lead {
        font-size: 30px;
        text-align: center;
        height: 200px;
    }
    #dv {
        height: 150px;
    }
</style>
<div id="dv"></div>
<div class="container-fluid">
    <h1 class="display-3" >Thank You!</h1>
    <p class="lead"><strong>Please check your email</strong> </p>
</div>
<script>
    gtag('event', 'conversion', { 'send_to': 'AW-299768034/AZn4CIGasPYCEOKx-I4B' });
</script>

