
@{
    ViewData["Title"] = "Training";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #sm-banner {
        background-image: url('../images/sm-banner.jpg');
    }
</style>

<section id="sm-banner" >
    <div class="site-container">
        <article>
            <h1>Training</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit, Labore animi
                consequuntur ad soluta itaque.
            </p>
        </article>
    </div>
</section>
<!-- /SM-BANNER -->

<div id="training">
    <div class="container">
        <div class="training">
            <div class="heading">
                <h1 class="sec-heading">E-Learning Training</h1>
                <p>
            </div>
            <div class="training-content">
                <div class="row gy-3">
                    <div class="col-md-6 col-lg-4">
                        <div class="training-videos">
                            <iframe src="https://www.youtube.com/embed/pbVZxUcEo54" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <a id="videos" href="https://www.youtube.com/embed/pbVZxUcEo54" data-lity></a>
                            <div class="training-vodeos--contet">
                                <h3>FPO SCHEME | ऍफ़ पी ओ स्कीम</h3>
                                <p>25लाख की ग्रांट 3 वर्षो में| 25 LAKH RUPEES GRANT | NEW & OLD FPO BOTH</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="training-videos">
                            <iframe src="https://www.youtube.com/embed/-uxGgwWS-2U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <a id="videos" href="https://www.youtube.com/embed/-uxGgwWS-2U" data-lity></a>
                            <div class="training-vodeos--contet">
                                <h3>Basics of Income tax</h3>
                                <p>B.Com - Income Tax L-2 (Lucknow University) AY20-21</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="training-videos">
                            <iframe src="https://www.youtube.com/embed/QoDJc82g9nc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <a id="videos" href="https://www.youtube.com/embed/QoDJc82g9nc" data-lity></a>
                            <div class="training-vodeos--contet">
                                <h3>Basics of Income tax - B.Com</h3>
                                <p>Income Tax L-1 (Lucknow University) AY20-21</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="training-videos">
                            <iframe src="https://www.youtube.com/embed/m-x2Igcn4-8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <a id="videos" href="https://www.youtube.com/embed/m-x2Igcn4-8" data-lity></a>
                            <div class="training-vodeos--contet">
                                <h3>Proprietorship Firm (registration/recognition)</h3>
                                <p>[Business ki ABCD - Part 2] - How to start business</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="training-videos">
                            <iframe src="https://www.youtube.com/embed/m_wwTfSzHF0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <a id="videos" href="https://www.youtube.com/embed/m_wwTfSzHF0" data-lity></a>
                            <div class="training-vodeos--contet">
                                <h3>Business Model Variety </h3>
                                <p>[Business ki ABCD - Part 1] - How to start business</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="training-videos">
                            <iframe src="https://www.youtube.com/embed/d0nY3aAUIpY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <a id="videos" href="https://www.youtube.com/embed/d0nY3aAUIpY" data-lity></a>
                            <div class="training-vodeos--contet">
                                <h3>KRISHAK SHASHAKTIKARAN PARIYOJNA </h3>
                                <p>Scheme for FPO/FPC by CA Ram Parijatam</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="training-videos">
                            <iframe src="https://www.youtube.com/embed/lgLupyzi0YM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <a id="videos" href="https://www.youtube.com/embed/lgLupyzi0YM" data-lity></a>
                            <div class="training-vodeos--contet">
                                <h3>स्फूर्ति योजना </h3>
                                <p>स्फूर्ति योजना | 10 करोड़ तक की ग्रांट | Sfurti Yojna |</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="training-videos">
                            <iframe src="https://www.youtube.com/embed/Z2dLVOWRQTE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <a id="videos" href="https://www.youtube.com/embed/Z2dLVOWRQTE" data-lity></a>
                            <div class="training-vodeos--contet">
                                <h3>Partnership Firm (registration/recognition)</h3>
                                <p>[Business ki ABCD - Part 3] - How to start business</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /TRAING CONTENT -->
        </div>
    </div>
</div>
<!-- /FEATURE -->
