@{
    ViewData["Title"] = "Home Page";
}
<body>
<div>
    <div class="text-center">
        <h1>Demo form to get data from input field using jquery</h1>
    </div>
    <div class="container">
        <div class="row pb-4">
            <div class="col-md-4">
                <label for="name">Name:</label>
                <div>
                    <input type="text" class="form-control" id="name">
                </div>
            </div>
            <div class="col-sm-4">
                <label for="mobile">mobile:</label>
                <div>
                    <input type="text" class="form-control" id="mobile">
                </div>
            </div>
            <div class="col-sm-4">
                <label for="email">Email:</label>
                <div>
                    <input type="email" class="form-control" id="email">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h4>Gender</h4>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="isMale">
                    <label class="form-check-label" for="isMale">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="isFemale">
                    <label class="form-check-label" for="isFemale">
                        Female
                    </label>
                </div>
            </div>
            <div class="col-sm-6">
                <h4>Programming Language</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="python">
                            <label class="form-check-label" for="python">
                                python
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="c_sharp">
                            <label class="form-check-label" for="c_sharp">
                                C #
                            </label>
                        </div>
                    </div>
                    <divc class="col-sm-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="java">
                            <label class="form-check-label" for="java">
                                Java
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="javascipt">
                            <label class="form-check-label" for="javascript">
                                Javascript
                            </label>
                        </div>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <h4 class="text-center">Select option</h4>
            <select class="form-control" id="dropdown">
                <option value=0>--select--</option>
                <option value=1>Internship</option>
                <option value=2>Apprentiship</option>
                <option value=3>Work form home</option>
                <option value=4>On site</option>
            </select>
        </div>
<br/><br/>
        <div class="row">
            <div class="col-sm-1">
                <div class="mx-auto">
                    <button class="btn btn-success" id="submit">Submit</button>
                </div>
            </div>
            <div class="col-sm-1">
                 <div class="mx-auto">
                    <button class="btn btn-danger" id="cancel">Cancel</button>
                </div>               
            </div>
            <div class="col-sm-10"></div>
        </div>
    </div>
</div>
</div>
</body>