@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row" id="heading">
        <h1>Insert data in a database using jquery</h1>
        <h1>Data table free version jquery</h1>
    </div>
    <div class="row">
        <div class="col-md-11"></div>

        <div class="row">
            <div class="col-md-12">
                <table class="table" id="TableList">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Code</th>
                            <th>Description</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>1</td>
                        <td>001</td>
                        <td>just a tutorial</td>
                        <td>yes</td>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    @section script {
        <script src="~/js/dataTables/CustomDataTable.js"></script>
    }